/* ============= Nav bar ============= */

.no-bullet {
  list-style-type: none;
}

h1 {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

button {
  margin: 0.4vw;
  padding: 0.5vw;
}

body {
  scrollbar-width: none;
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none;
}

body:hover {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
}

.navbar {
  /* background-color: #333; */
  background: linear-gradient(to bottom, #333, black);
  height: 4em;
}

.nav-list {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: middle;
  margin-right: 2vw;
  list-style: none;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
  background-color: white;
  color: #333;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  place-items: center;
}

/* ================= profile ================= */

#profile {
  background-image: url("../img/background-main.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  height: 94vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 150px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.words-profile {
  flex: 1.1;
  color: white;
  font-family: "Orbitron", sans-serif;
}

.name {
  margin-top: 100px;
  font-size: 64px;
}

.status {
  font-size: 32px;
}

.name:hover, .status:hover {
  cursor: pointer;
}

.profile-pic-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  margin-left: -40px;
}

.profile-pic-container {
  max-width: 375px;
  flex: 1;
  margin-right: 20px;
  margin-top: 104px;
}

.profile-pic-container img:hover,
.name:hover,
.status:hover {
  transform: scale(1.1);
}

/* ================ Education ================= */

.img-container {
  max-height: 535px;
  max-width: 400px;
  flex: 1;
  /* margin-right: 20px; */
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 0 5px 3px black;
}

#education h2 {
  font-size: 3rem;
  color: whitesmoke;
}

#education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: #333; */
  background: linear-gradient(to bottom, rgba(112, 112, 112, 0.55), black);
}

.education-list-container {
  flex: 1;
}

.education-container {
  display: flex;
  align-items: center;
  padding: 5vh;
  padding-right: 0;
  width: 1000px;
  justify-content: space-between;
  border-radius: 12px;
  border: white solid 3px;
  box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.5);
}

.education-container p {
  color: whitesmoke;
  margin-top: 15px;
  margin-bottom: -10px;
}

.education-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: whitesmoke;
}

/* About */

.background-grey {
  background-color: #f8f8f8;
}

#about .content-container h2 {
  font-size: 48px;
}

#about .content-container p {
  font-size: 24px;
  line-height: 3rem;
}

/* Experience */

.section {
  padding: 30px;
  text-align: center;
  color: #333
}

.background-light {
  background-color: #f0f0f0;
}

.content-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}

.experience-image-container {
  max-height: 500px;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex: 1;
  margin-bottom: 20px;
}

.experience-image-container img {
  width: 100%;
  height: 100%;
  flex: 1;
  border: 2px solid white;
  box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.5);
}

.experience-image-container img:hover { 
  transform: scale(1.03);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.pic {
  width: 100%;
  height: 100%;
}

.skills-main-container {
  grid-row: 1 / 2;
  text-align: center;
  flex: 2;
}

.go-white {
  color: whitesmoke;
}

#experience {
  background: linear-gradient(to bottom, black, rgba(112, 112, 112, 0.55));

  padding: 40px 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.experience-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 48px;
  color: whitesmoke;
}

#experience-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 99%;
  border: solid 5px #333;
  box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.5);
  gap: 2rem;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* gap: 10px; */
  margin-top: 20px;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;

}

.skills-container .skill {
  font-size: 24px;
  color: #333;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80px;
  height: 80px;
  background-color: #333;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  transition: background-color 0.3s;
  padding: 20px;
  text-align: center;
  border: transparent solid 1px;
}

.skill .fab {
  scale: 2.3;
}

.skill.html {
  color: #e34c26;
}

.skill.css {
  background-color: #2965f1;
}

.skill.js {
  background-color: #f0db4f;
}

.skill.python {
  background-color: #3572a5;
}

.skill.java {
  background-color: #007396;
}

.skill.sass {
  background-color: #c69;
}

.skill.bootstrap {
  background-color: #563d7c;
}

.skill.linux {
  background-color: whitesmoke;
}

.skill:hover {
  background-color: #555;
  transition: background-color 0.3s;
  cursor: pointer;
  transform: scale(1.1);
  border: 1px white solid;
  color: white;
}

/* Portfolio  */

#portfolio {
  padding: 10vh;
  background: linear-gradient(to top, rgba(112, 112, 112, 0.55), black);
  color: whitesmoke
}

#portfolio h2 {
  font-size: 3rem;
}

/* ============= Slider ============= */

.slider {
  width: 100%;
  max-width: 800px;
  height: 440px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 1px 2px 2px grey;
  margin-top: 1vh;
}

.slider:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 440px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-next {
  top: 45%;
  right: 2%;
}

.btn-previous {
  top: 45%;
  left: 2%;
}

.dot-container-wrapper {
  width: 70px;
  height: 30px;
  border: 2px black;
}

.dot-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  border: 1px solid black;
  transition: background-color 0.3s;
}

.background-white {
  background-color: white;
}

.background-black {
  background-color: black;
}

/* CONTACT  */

#form-container {
  border-bottom: 2px solid #ddd;
  padding: 2vh;
}

#portfolio,
#contact {
  background-color: #f7f7f7;
}

h1 {
  font-weight: 600;
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 5px;
  height: auto;
  width: auto;
}

.form-group {
  margin-bottom: 15px;
}

form {
  padding: 2rem;
  padding-right: 2.5rem;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border: transparent solid 2px;
}

button[type="submit"]:hover {
  background-color: whitesmoke;
  color: black;
  border: #333 solid 2px;
}

.message-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
} 

.mini-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}


/* Footer  */

footer {
  background-color: #434949;
  color: #fff;
  padding: 15px 0px;
}

footer nav ul {
  list-style-type: none;
  margin: 15px auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

footer nav ul li {
  display: inline;
}

footer nav ul li a {
  display: inline-block;
  color: white;
  padding: 6px 8px;
  text-decoration: none;
}

footer p {
  margin: 30px auto;
  text-align: center;
}

footer hr {
  border: 0;
  height: 1px;
  background: #fff;
  background-image: linear-gradient(to right, #424949, #fff, #424949);
}